/* =============
    Insurance
============= */

img {
    width: 267px;
    height: 113px;
    flex-shrink: 0;
    }
    
#insurance{
        @include lg {
        display: grid;
        grid-template-columns: 1fr, 1fr, 1fr;
        grid-template-areas:
        "forbes flip investopedia"
        "comparison typescosts .";
        }
    }
    
#forbes{
        background-color: #DDDDDD;
        padding: 20px;
        margin: 20px;
        text-align: center;
    }

#flip{
    background-color: #DDDDDD;
    padding: 20px;
    margin: 20px;
    text-align: center;
}

#investopedia{
    background-color: #DDDDDD;
    padding: 20px;
    margin: 20px;
    text-align: center;
}

#comparison{
    background-color: #DDDDDD;
    padding: 20px;
    margin: 20px;
    text-align: center;
}

#typescosts{
    background-color: #DDDDDD;
    padding: 20px;
    margin: 20px;
    text-align: center;
}



    
