/* =============
    marketing
============= */


img{
width: 267px;
height: 113px;
flex-shrink: 0;
}

#marketing{
    @include lg{
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr;
    grid-template-areas:
    "crowdspring QSR toasttab"
    "chefstore joinposter uschamber"
    "menubly getbento shopify"
    "webrestaurant   .     .  ";
    }
}

#crowdspring{
    background-color: #DDDDDD;
    padding: 20px;
    margin: 20px;
    text-align: center;
}

#QSR{
    background-color: #DDDDDD;
    padding: 20px;
    margin: 20px;
    text-align: center;
}

#toasttab{
    background-color: #DDDDDD;
    padding: 20px;
    margin: 20px;
    text-align: center;
}

#chefstore{
    background-color: #DDDDDD;
    padding: 20px;
    margin: 20px;
    text-align: center;
}

#joinposter{
    background-color: #DDDDDD;
    padding: 20px;
    margin: 20px;
    text-align: center;
}

#uschamber{
    background-color: #DDDDDD;
    padding: 20px;
    margin: 20px;
    text-align: center;
}

#menubly{
    background-color: #DDDDDD;
    padding: 20px;
    margin: 20px;
    text-align: center;
}

#getbento{
    background-color: #DDDDDD;
    padding: 20px;
    margin: 20px;
    text-align: center;
}

#shopify{
    background-color: #DDDDDD;
    padding: 20px;
    margin: 20px;
    text-align: center;
}

#webrestaurant{
    background-color: #DDDDDD;
    padding: 20px;
    margin: 20px;
    text-align: center;
}















